body{
	font-size: 12px;
	color: #606060;
	font-family: Open Sans; 
}

h1{
	font-size: 16px;
	font-weight: bold;
}

h2{
	font-size: 14px;
	font-weight: bold;
}

button{
	font-size: 11px;
}

p{
	padding: 10px;
}

a{
	font-size: 11px;
	color: #c95555;
}
.header{
	display: flex;
	height: 100px;
	width: 101%;
	background-color: #ebebe0;
}

.back{
	margin-top: -9px;
}

.portada{
	display: table;
	float: left;
	margin-left: 60px;
	margin-top: 10px;
	width: 200px;
	height: 80px;
	margin-right: 600px;
}


nav{
	text-align: right;
	padding: 26px 0px 0 0;
	margin-bottom: 40px;
	margin-right: 40px;
}

nav > a{
	text-decoration: none;
	padding: 15px;
}

.boton1{
	margin-left: 20px;
	height: 30px;
	width: 80px;
	color: white;
	background-color: #283e3e;
	font-size: 11px;	
}

.middle{
	text-align: center;	
}

.name{
	color: black;
}

.btnNuevo{
	background-color: #283e3e;
	color: white;
	height: 50px;
	width: 200px;
	margin-left: 100px;
}

img{
	width: 97%;
}

.items{
	display: flex;
	margin-left: 100px;
}

.link{
	margin-bottom: 50px;
}

.contenido{
	display: flex;
	margin-left: 100px;
}

.item1{
	width: 14rem;
	margin-top: 15px;
}

.item2{
	width: 14rem;
}

.item3{
	width: 14rem;
}

.Nintendo{
	height: 150px;
}

.tv{
	height: 160px;
}

.derecha1{
	width: 200px;
	margin-top: 20px;
}

.derecha2{
	width: 200px;
	margin-top: 20px;
}

.derecha3{
	width: 200px;
	margin-top: 20px;
}

.texto{
	margin-right: 200px;
}

.btnEditar1{
	background-color: #00b300;
	width: 63px;
}

.btnEliminar1{
	background-color: #ff3333;
}

.btnEditar2{
	background-color: #00b300;
	width: 63px;
}

.btnEliminar2{
	background-color: #ff3333;
}

.btnEditar3{
	background-color: #00b300;
	width: 63px;
}

.btnEliminar3{
	background-color: #ff3333;
}


.footer{
	display: flex;
}

.fintxt{
	margin: auto;
	word-spacing: 30px;
	margin-top: 40px;
}

.final{
	text-align: center;
}

.logo{
	background-color: black;
	color: white;
	margin-right: 10px;
}

@media only screen and (max-width: 1024px) {
	.item1{
		margin-top: 0px;
	}

	.contenido{
		margin-left: 20px;
	}
}
