body{
	font-size: 12px;
	color: #606060;
	font-family: Open Sans; 
}

h1{
	font-size: 16px;
	font-weight: bold;
}

h2{
	font-size: 14px;
	font-weight: bold;
}

button{
	font-size: 11px;
}

p{
	padding: 10px;
}

a{
	font-size: 11px;
	color: #c95555;
}


.portada{
	display: table;
	float: left;
	margin-left: 60px;
	margin-top: 10px;
	width: 200px;
	height: 80px;
	margin-right: 600px;
}

.head{
	background-color: #ebebe0;
}

nav{
	text-align: right;
	padding: 26px 0px 0 0;
	margin-bottom: 40px;
	margin-right: 40px;
}

nav > a{
	text-decoration: none;
	padding: 15px;
}

div > a{
	text-decoration: none;
}
	
.boton1{
	margin-left: 20px;
	height: 30px;
	width: 80px;
	color: white;
	background-color: #283e3e;
}

.white{
	height: 12rem;
	text-align: center;
}

.line{
	width: 20rem;
}

.texto1{
	margin: auto;
	margin-top: 30px;
}

input{
	margin-right: 25px;
	height: 30px;
}

.largo{
	height: 40px;
	width: 500px;
}

.btn1{
	color: white;
	background-color: #283e3e;
	height: 45px;
	width: 150px;
}


.middle{
	text-align: center;

}

img{
	width: 80%;
	height: 80%
}

.img{
	display: flex;
	margin-right: 85px;
}

.middle img {
	width: 50%;
}

.footer{
	text-align: center;
}

.botimg{
	display: flex;	
}

.botimg1{
	width: 50%;	
}

.botimg2{
	width: 50%;	
}

.footer1{
	display: flex;
}

.fintxt{
	margin: auto;
	word-spacing: 30px;
	margin-top: 40px;
}


.final{
	text-align: center;
}

.logo{
	background-color: black;
	color: white;
	margin-right: 10px;
}


@media only screen and (max-width: 720px) {
	
	.btn1{
		margin-top: 20px;
	}

	.largo{
		width: 500px
	}

}

@media only screen and (max-width: 500px) {
	.largo{
		width: 450px;
	}
}


