body{
	font-size: 12px;
	color: #606060;
	font-family: Open Sans; 
}

h1{
	font-size: 16px;
	font-weight: bold;
}

h2{
	font-size: 14px;
	font-weight: bold;
}

button{
	font-size: 11px;
}

p{
	padding: 10px;
}

a{
	font-size: 11px;
	color: #c95555;
}

.header{
	display: flex;
	height: 100px;
	width: 100%;

}

.back{
	margin-top: -9px;
}

.portada{
	display: table;
	float: left;
	margin-left: 60px;
	margin-top: 10px;
	width: 200px;
	height: 80px;
	margin-right: 600px;
}


img{
	width: 97%;
}

nav{
	text-align: right;
	padding: 26px;
}

nav > a{
	text-decoration: none;
	padding: 15px;
}

.boton1{
	margin-left: 20px;
	background-color: #283e3e;
	color: white;
}

.white{
	width: 101%;
	background-color: #ebebe0;
	display: flex;
	height: 12rem;
	text-align: center;
}

.texto1{
	margin: auto;
	margin-top: 70px;
}

.texto{
	text-align: center;
	margin-bottom: 
}

.cuerpo{
	text-align: center;
	margin-top: 30px;
}

input{
	margin-right: 25px;
	height: 30px;
	min-width: 20%
}

.large{
	height: 30px;
	min-width: 43%
}

.footer{
	display: flex;
	margin-bottom: 20px;	
}

.fintxt{
	margin: auto;
	word-spacing: 30px;
	margin-top:  10px;
}

.corta{
	width: 37rem;
}

.registro{
	margin-right: 380px;
}

.btn2{
	width: 100px;
	height: 30px;
}

.btn1{
	background-color: #283e3e;
	color: white;	
	width: 100px;
	height: 30px;
	margin-right: 15px;
}

.fin{
	margin-right: 15px;
}

.final{
	text-align: center;
}

.logo{
	background-color: black;
	color: white;
	margin-right: 10px;
}

@media only screen and (max-width: 800px) {
	.large{
		width: 375px;
	}

	.arreglo{
		width: 100%;
		margin-left: 200px;
	}
}








